RewriteEngine On
RewriteBase /linker/

RewriteRule ^l/([a-zA-Z0-9]+)$ src/redirect.php?short_id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^src/([a-zA-Z0-9_-]+)/?$ src/$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^src/(.*)\.php$ /src/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^src/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ src/$1/$2.php [L]